.container{
      text-align: center;
      
}
 .container h1{
      font-weight: bold;
      font-size: 70px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 50px;
}
.container button{
      color:white;
      cursor: pointer;
      font-size: 17px;
      margin-top: 50px;
      padding: 20px 50px;
      background-color: blue;
}
.container button:hover{
      background-color:darkgreen

}
.qoute-todday{
    background-color: #bdbcbc;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;


      
}
#qoute{
     
      font-size: 20px;
      font-weight: bold;
      width: fit-content;
      border: 2px solid;
      margin: auto;
      margin-top: 30px;
}